.middleBodyPart {
    margin: 150px 200px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}

.middleBodyPartImage {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.middleBodyPartFirst {
    display: flex;
    margin-right: 20px;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.imageTittle {
    margin-top: 0px;
    font-size: 1.3rem;
    font-weight: bold;
}
