.middleBodyPart {
    margin: 150px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}

.middleBodyPartContainer {
    display: grid;
    grid-template-columns: 100px 400px;
    font-size: 1.3rem;
}

.middleBodyPartImage {
    width: 100%;
    height: auto;
}

.imageContainer {
    margin-right: 20px;
}

.imageTittle {
    margin-top: 0px;
    font-size: 1.3rem;
    font-weight: bold;
}

.imageLearnMore {
    text-decoration: none;
}